
/* end slide show */
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.content {
    margin-top: 160px;
}
/* .slideshow {
    background-color: rgba(0,0,0, 0.5)
} */
.carousel-caption {
    left: 60% !important;
    top: 70% !important;
}
.click-slideshow {
    background-color: rgba(0,0,0,0.5);
    color: var(--white-color);
    border-radius: 5px;
    padding: 15px 15px;
    line-height: 36px;
    font-weight: 600;
    font-size: 14px;
    
}
.click-slideshow:hover {
    color: var(--hover-color);
    background-color: transparent;
    border: 2px solid rgba(0,0,0,0.5);
    text-decoration: none;
}
.fi-rs-arrow-right {
    font-size:14px;
    color: var(--black-color);
    margin-left: 20px;
}
.click-slideshow:hover > .fi-rs-arrow-right{
    color: var(--white-color);
}
.active {
    color: var(--hover-color) !important;
}
/* sản phẩm phổ biến */
.title-product {
    text-align: start;
    margin: 40px 0;
    text-transform: uppercase;
    color: var(--black-color);
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid var(--black-color);
    padding-bottom: 4px;
    display: inline-flex;
}
.btn-buynow {
    border: 1px solid var(--black-color);
    background: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: auto;
    border-radius: unset;
    text-transform: uppercase;
    transition: 0.8s;
    color: var(--white-color);
    position: relative;
    overflow: hidden;
    /* border-radius: 4px; */
}
.btn-buynow::before {
    content:"";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--black-color);
    transition: 0.8s;
    z-index: -1;
    border-radius: 50% 50% 0 0;
    bottom: 0;
    height: 180%;
    
}
.btn-buynow:hover {
    text-decoration:none;
    color: var(--black-color) !important;
}
.btn-buynow:hover::before {
    height: 0%;
}
.price-color {
    color: #d9121f;
    font-size: 16px;
}
.card {
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color:rgba(255, 216, 64, 0.94);
    text-align: center;
}
.sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}
.sale-off-percent {
    color: red;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.6rem;
    position: relative;
}
.product__price {
    display: flex;
    justify-content: space-between;
}
.product__price-old {
    color: var(--text-color);
    text-decoration: line-through;
}

/* .shoesnews {
    background-color: #f5f5f7;
} */
.shoesnews__title {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    border-bottom: 1px solid var(--black-color);
    padding-bottom: 4px;
}
.card-text {
    font-size:16px;
}
.shoesnews__all{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    /* background-color: var(--black-color); */
    margin-top: 20px;
    cursor: pointer;
}
.shoesnews__all-tittle {
    color: var(--black-color);
    font-weight:500;
    font-size:16px;
    margin-right: 8px;
    margin-top: -3px;
}
.shoesnews__all-tittle:hover {
    color: var(--black-color);
    text-decoration: none;
}
.fi-rs-angle-right {
    font-size: 16px;
}
/* footer */
.footer {
    border-top: 4px solid var(--black-color);
    margin-top: 50px;
    padding-top: 12px;
}
.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 10px;
}
.footer__list {
    padding-left: 0;
    list-style: none;
}
.footer__item {
    font-size: 18px;
    line-height: 1.5rem;
    vertical-align:middle;
}
.footer__item p {
    color:#737373;
}
.footer__item--link {
    font-size: 18px;
    color: #737373;
    padding: 2px 0;
    display: block;
    line-height: 3.2rem;
}
.footer__item-icon {
    margin-right: 10px;
    vertical-align: middle;
}
.footer__item--link-icon {
    margin-right: 12px;
}
.footer__item--link:hover {
    color: var(--hover-color);
    text-decoration: none;
}
.footer__bottom {
    padding: 10px 0;
    background-color: #f5f5f5;
    display: block;
}
.footer__text {
    margin: 0;
    text-align: center;
    font-size:1.2rem;
}
#go-to-top {
    position:fixed;
    width: 45px;
    height: 45px;
    background-color: var(--black-color);
    bottom: 75px;
    right: 10px;
    text-align: center;
    line-height: 50px;
    display: none;
    border-radius: 50%;
}
.btn-gototop {
    color: var(--white-color);
    font-size: 18px;


}
.btn-gototop:hover {
    text-decoration: none;
    color: var(--white-color);
}
.breadcrumb {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    background-color: #fff;
    color: var(--black-color);
}
.checkbtn {
    display:none;
    margin-right: 20px;
}
.checkdl1 {
    display:none;
}

/* list like */
.listlike {
    margin-top: 30px;
}
.hover-icon {
    background: #fff;
    border-radius: 25px;
    opacity: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    padding: 5px;
    display: hidden;
    bottom: 40%;
    right: 0;
    position: absolute;
    margin-bottom: 0;
    z-index: 999;
}
.card:hover .hover-icon{
    right: 10px;
    opacity: 1;
    display: block;
}
.btn-add-to-cart {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    width: 36px;
    height: 36px;
    padding: 0;
    -webkit-transition: .6s;
    transition: .6s;
    text-align: center;
    color: #333;
    border-radius: 100%;
    background: #fff;
    display: block;
}
.btn-add-to-cart:hover,
.quickview:hover {
    background-color: #000;
    color: #fff;
}
.quickview {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    width: 36px;
    height: 36px;
    padding: 0;
    margin-top: 10px;
    -webkit-transition: .6s;
    transition: .6s;
    text-align: center;
    color: #333;
    border-radius: 100%;
    background: #fff;
    display: block;
}
.main-img-2 {
    position: relative;
    height: 400px;
    max-width: 500px;
}
.main-img-2 img {
    width: 370px;
    max-height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.all-img-2 {
    height: auto;
    opacity: 1;
    list-style: none;
    display: flex;
    padding: unset;
}
.all-img-2 li {
    display: inline block;
}
.img-item-2 img {
    width: 90px;
    cursor: pointer;
    padding: 5px 3px;
}
.shopnow2 {
    width: 250px;
    height: 40px;
    background: #000;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--black-color);
}
.shopnow2:hover {
    background: none;
    color: #000;
}
.circlecheck {
    margin: unset !important;
    width: 20% !important;
}
.product-name a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
}
.status-product,
.infor-oder {
    font-size: 14px;
    padding: 5px 0;
}
.special-price {
    color: var(--hover-color);
    font-size: 16px;
    padding: 10px 0;
}
.price-old {
    font-size: 16px;
    color: #999;
    padding-bottom: 10px;
}
.product-description {
    font-size: 14px;
    height: 5.6rem;
    line-height: 1.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    padding-bottom: 10px;
}
.btn-default {
    position: absolute;
    right: -15px;
    top: -12px;
    width: 30px;
    font-size: 14px;
    height: 30px;
    text-align: center;
    line-height: 2px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    padding: 0;
}
.awe-section-9 {
    margin-top: 45px;
}
.owl-policy-mobile {
    padding: 30px 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;   
}
.owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}
.owl-stage {
    transform: translate3d(0px, 0px, 0px);
    transition: all 0s ease 0s;
    width: 1150px;
    
}
.owl-item {
    width: 287.5px;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
}
.section_policy_content {
    position: relative;
}
.section_policy_content a{
    text-decoration: none;
}
.section_policy_content img{
    max-width: 40px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.section-policy-padding {
    padding-left: 50px;
}
.section-policy-padding h3{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    color: #000;
}
.section_policy_title {
    font-size: 12px;
    color: #333;
}
.card-title {
    text-transform: uppercase;
}
.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item__like {
    font-size: 1.4rem;
}
i.home-product-item__like-icon-fill {
    color: #d63d30;
    display: none;
}
.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}
.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}
.home-product-item__star--gold {
    color: yellow;
}
.home-product-item__sold {
    margin-left: 6px;
    font-size: 1.2rem;
    color: var(--text-color);
}
.product__color {
    padding: 10px 0;
    margin-bottom: unset !important;
}